@import "../utils/vars"

section
	width: 100%

a
	cursor: pointer

.dropdown-content li>a, .dropdown-content li>span
	font-size: 15px
	color: rgba(0,0,0,0.87)

.select-wrapper input.select-dropdown
	border-bottom: 1px solid rgba(0,0,0,0.87)
	&:focus
		border-bottom: 1px solid rgba(0,0,0,0.87)
