@import '../utils/vars'
@import '../utils/mixins'

body
	background-color: $color-white
	background-image: url('../../images/clouds.png')
	background-size: 600px

section
	width: 100%

a
	cursor: pointer

img
	object-fit: cover

iframe, object, embed
	max-width: 100%
