@import '../utils/vars'
@import '../utils/mixins'

//Container Base
.container-default
	width: 100%
	margin: 0 auto
	max-width: 1300px
	padding: 40px 40px 40px 40px
	+mq(tablet-small, max)
		padding: 20px 20px 20px 20px
