@import "~/assets/styles/utils/vars"
@import "~/assets/styles/utils/mixins"

section
  width: 100% !important

a
  cursor: pointer !important
  transition: none !important

img
  object-fit: cover !important

main
  width: 100% !important

label
  margin: -6px 0 0 0 !important

iframe, object, embed
  max-width: 100% !important
