@import "~/assets/styles/utils/vars"
@import "~/assets/styles/utils/mixins"

section
  width: 100%

a
  cursor: pointer

img
  object-fit: cover

main
  width: 100%

label
  margin: -6px 0 0 0

iframe, object, embed
  max-width: 100%
