.title
	width: 100%
	height: 40px
	display: flex
	font-size: 16px
	font-weight: 700
	text-align: start
	color: $color-black
	align-items: center
	padding: 14px 0 0 0
	text-transform: uppercase

	&_is-cropped
		width: 100%
		display: block
		max-width: 300px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis

	&_is-bordered
		margin: 0 0 20px 0
		@extend .title
		padding: 14px 14px 14px 14px
		background-color: $color-white_dark
		border-left: 3px solid $color-blue_light
